<div id="<%= dom_id patient_form %>">
  <p>
    <strong>Image:</strong>
    <%= patient_form.image %>
  </p>

  <p>
    <strong>Severity:</strong>
    <%= patient_form.severity %>
  </p>

  <p>
    <strong>Hospital name:</strong>
    <%= patient_form.hospital_name %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= patient_form.patient_id %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= patient_form.admin_id %>
  </p>

</div>
